<footer class="footer cyber-razor-top bg-cyber-dark  fg-white p-3 mt-4">
    <div class="container bg-cyber-dark  ">
        <div class="row">
            <!-- First Panel: Blue Corner Cafe Short Description -->
            <div class="col-md-4">
                <h4>Blue Corner Cafe</h4>
                <p>Short description of Blue Corner Cafe goes here.</p>
            </div>

            <!-- Second Panel: Resources -->
            <div class="col-md-4">
                <h4>Resources</h4>
                <ul>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>

            <!-- Third Panel: Social Media -->
            <div class="col-md-4">
                <h4>Social Media</h4>
                <ul class="social-media-list">
                    <li><button class="social-button"><i class="pi pi-facebook" style="color: #3b5998;"></i></button></li>
                    <li><button class="social-button"><i class="pi pi-linkedin" style="color: #0077b5;"></i></button></li>
                    <li><button class="social-button"><i class="pi pi-twitter" style="color: #1da1f2;"></i></button></li>
                    <li><button class="social-button"><i class="pi pi-instagram" style="color: #c32aa3;"></i></button></li>
                    <li><button class="social-button"><i class="pi pi-youtube" style="color: #c4302b;"></i></button></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
