.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer h4 {
    color: #333;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #666;
    text-decoration: none;
}

.footer ul li a:hover {
    color: #000;
}

.social-media-list {
    padding: 0;
}

.social-media-list li {
    display: inline-block;
    margin-right: 10px;
}

.social-media-list li:last-child {
    margin-right: 0;
}

.social-media-list li a {
    color: #666;
    text-decoration: none;
}

.social-media-list li a:hover {
    color: #000;
}

.social-button {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px; /* Adjust as needed */
}

.social-button:hover {
    background-color: #eeeeee;
}

.social-button i {
    font-size: 1.2rem; /* Adjust icon size as needed */
}

